//====================================================================================================
.page {

    // .page__main

    &__main {
    }
    // .page__partners

     &__partners {
    }
    &_how-works {
    }
    &__pathway {
    }
     &_choose {
    }
}
.main-block {
    &__container-big{
        position: relative;
    }
    // .main-block__container

    &__container {
        // position:relative;
    }

    // .main-block__content

    &__content {
        position: relative;
        z-index: 12;
        @include adaptiveValue("padding-top", 250, 100);
        @include adaptiveValue("padding-bottom", 200, 30);
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
    }

    // .main-block__title

    &__title {
        max-width: rem(750);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 69, 30);
        }
    }

    // .main-block__text

    &__text {
        display:inline-block;
        font-weight: 400;
        line-height: 180%;
        text-align: center;
        max-width: rem(570);
        @include adaptiveValue("font-size", 18, 12);
        &:not(:last-child) 
            {
                @include adaptiveValue("margin-bottom", 69, 30);
            }
    }

    // .main-block__form

    &__form {
        @media (max-width: em(430)){
            width: 100%;
        }
    }

    // .main-block__icons

    &__icons {
    }
}
.icons-main-block {
    pointer-events: none;
    @media (max-width:$mobile){
        opacity: .3; 
    }
    // .icons-main-block__item

    &__item {
        position: absolute;

        // .icons-main-block__item_1

        &_1 {
            // відсоток положення обєкту від висоти
            top: percent(675,974);
            left: rem(15);
        }

        // .icons-main-block__item_2

        &_2 {
            top: percent(355,974);
            left: percent(250,1620);
        }

        // .icons-main-block__item_3

        &_3 {
            top: percent(757,974);
            left: percent(395,1620);
        }

        // .icons-main-block__item_4

        &_4 {
            top: percent(795,974);
            left: percent(1330,1620);
        }

        // .icons-main-block__item_5

        &_5 {
            top: percent(375,974);
            left: percent(1580,1620);
        }

        // .icons-main-block__item_6

        &_6 {
            top: percent(155,974);
            left: percent(1160,1620);
        }

        // .icons-main-block__item_7

        &_7 {
            top: percent(420,974);
            left: percent(1320,1620);
        }
    }
    &__circle {
        position: absolute;
        @include adaptiveValue("width",585,300);
        @include adaptiveValue("height",585,300);
        top: 0;
        left: 0;
        &::before{
            content:'';
            display: block;
            border-radius: 50%;
            border: 1px solid white;
            width: 100%;
            height: 100%;

        }
        &_1{
            &::before{
                transform: translate(calc(-50% - rem(28)), -35%);
            }
        }
        &_2{
            &::before{
                transform: translate(calc(-50% + rem(27)), -44%);
            }
            
        }
    }
}

.partners {
    @include adaptiveValue("padding-bottom", 200,30);
    // .partners__container

    &__container {
        display: flex;
        align-items:center;
        justify-content: space-between;
        gap: rem(30);
        flex-wrap: wrap;
        @media (max-width: em(1100)){
            justify-content: center;
              
        }

    }

    // .partners__item

    &__item {
        text-align: center;
        img{
            max-width: 100%;
        }
    }
}



//====================================================================================================

.how-works {
    @include adaptiveValue("padding-bottom", 200,25);

    // .how-works__container

    &__container {
        display: grid;
        row-gap: rem(30);
        @media (min-width:$tablet){
            grid-template-columns: 1fr percent(750, 1420) ;
        }
        
    }

    // .how-works__content

    &__content {
        @include adaptiveValue("padding-right", 95, 30, 1420, 992, 2);
        @media (max-width:$mobileSmall){
             text-align: center; 
        }
    }

    // .how-works__title

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
           
        }
    }

    // .how-works__text

    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 30);
        }
    }

    // .how-works__image-block
    &__image{
        align-self: flex-start;
    }
    &__image-block {
    }
}


.steps-how-work {

    // .steps-how-work__item

    &__item {
        max-width: rem(490);
        display: flex;
        align-items: flex-start;
        gap: rem(32);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 30);
        }
        @media (max-width:$mobileSmall){
            justify-content:center;
            align-items: center;
            flex-direction: column;
        }

    }

    // .steps-how-work__icon

    &__icon {
        border-radius: 50%;
        flex: 0 0 rem(110);
        height: rem(110);
        width: rem(110);
        display: flex;
        justify-content:center;
        align-items: center;
        background-color:rgba(0, 128, 0, 0.1);

    }

    // .steps-how-work__body

    &__body {
    }

    // .steps-how-work__title

    &__title {
        font-size: rem(20);
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    // .steps-how-work__text

    &__text {
       
    }
}


//====================================================================================================

.pathway {
    @include adaptiveValue("padding-bottom", 200,30);
    // .pathway__container-big

    &__container-big {
        
        
    }

    // .pathway__container

    &__container {
        display: grid;
        row-gap: rem(30);
        @media (min-width:$tablet){
            grid-template-columns:  percent(695, 1420) 1fr ;
        }
    }

    // .pathway__image

    &__image {
        align-self: flex-start;
    }

    // .pathway__image-circle

    &__image-circle {
        @include adaptiveValue("padding-top",100 , 30);
        @include adaptiveValue("padding-bottom",100 , 30);   
        @include adaptiveValue("padding-left",40 , 30);
        @include adaptiveValue("padding-right",40 , 30); 
        position: relative;
        &::before,&::after{
            content:'';
            top: 0;
            left: 0;
    }
        
       
    &::before{
        transform: translate(calc(-50% - rem(18)), 60%);
    }
    &::after{
        transform: translate(calc(-50% - rem(18)), 74%);
    }
    }

    // .pathway__content

    &__content {
        
        @include adaptiveValue("padding-left", 126, 40, 1420, 992, 2);
        @media (max-width:$mobileSmall){
            text-align: center; 
        }
    }

    // .pathway__title

    &__title {
        max-width: rem(430);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
           
        }
    }

    // .pathway__text

    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 30);
        }
    } 
    &__spollers {
        display: grid;
        gap: rem(24);
    }
}

.spollers-pathway {

    // .spollers-pathway__item

    &__item {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 0 0 rem(10) rem(10);
        
    }

    // .spollers-pathway__title

    &__title {
        width: 100%;
        text-align: left;
        padding: rem(24) rem(30);
        background: rgba(255, 255, 255, 0.05);
        border-radius: rem(10);
        display: flex;
        align-items:center;
        justify-content: space-between;
        line-height: 117%;
        font-size: rem(24);
        &::after{
            content:'';
            background:url("@img/arrow.svg") center / 100% no-repeat;
            flex: 0 0 rem(24);
            height: rem(24);
            transition: all 0.3s ease 0s;
        }
        &._spoller-active{
                &::after{
                    transform: rotate(-180deg);
                }
            }
        
    }

    // .spollers-pathway__body

    &__body {
        @include adaptiveValue("padding-left",15 , 3);
        @include adaptiveValue("padding-right",15 , 3);
        @include adaptiveValue("padding-bottom",15 , 3);
        @include adaptiveValue("padding-top",15 , 3);
        text-align:justify;
        line-height: 117%;
        font-size: rem(20);
        
        }
}



//====================================================================================================

.choose {
    @include adaptiveValue("padding-bottom", 200,30);
    // .choose__container-big

    &__container-big {
    }

    // .choose__container

    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: rem(180);
        @media (max-width: em(1270)){
           column-gap: rem(10);
              
        }
        @media (max-width:$tablet){
            flex-direction:column; 
            align-items: center;
            justify-content: center;
        }

        
    }

    // .choose__content

    &__content {
        position: relative;
        
    }

    // .choose__title

    &__title {
        @include adaptiveValue("padding-bottom",32 ,10 );
    }

    // .choose__text

    &__text {
        @include adaptiveValue("padding-bottom",48 ,40);
    }

    // .choose__steps

    &__steps {
    }

    // .choose__image

    &__image {
        width: 100%;
        @media (max-width:$tablet){
            display: flex;
            justify-content: center;
        }
        img{
        max-width: 100%;
        border-radius: rem(21);
        }

        
    }
    &__button{
        @media (max-width:$tablet){
        position: absolute;
        top: 82%;
        left: 50%;
        transform: translate(-50%, 0%);
        }
    
    }
}

.steps-choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(90);
    margin-bottom: rem(69);
    @media (max-width: em(1200)){
        row-gap: rem(50);   
    }
    @media (max-width:$tablet){
        padding-left: rem(20);
        margin-bottom: rem(150);
    }
    // .steps-choose__item
   

    &__item {
        display: flex;
        padding-left: rem(24);

    }

    // .steps-choose__icon

    &__icon {
        display: flex;
        justify-content: center;
        align-items:center;
        font-weight: 700;
        line-height: math.div(36 , 40);
        @include adaptiveValue("font-size", 36, 20);
        position: relative;
        padding-right: rem(74);
        height: rem(40);
        width: rem(26);
        &::after{
            content:'';
            background-color: rgba(255, 255, 255, 0.05);
            @include adaptiveValue("width", 64, 40);
            @include adaptiveValue("height", 64, 40); 
            border-radius: 50%;
            position: absolute;
            top: 1;
            left: 1;
        }
       
    }

    // .steps-choose__body

    &__body {
    }

    // .steps-choose__text

    &__text {
        display: flex;
        justify-content: center;
    }
}


//====================================================================================================